@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
        font-family:'android';
        src: url(../fontes/idroid.otf) format(opentype);
        font-weight: normal;
        font-style: normal;
    }

:root{
    --cor0:#1AC6D9;
    --cor1:#147CA6;
    --cor2:#0F3759;
    --cor3:#0f0aa6;
    --corshadow-h:#0f365978;
    --cormain: #ffff;
    --corshadow-m:#0d646d85 ;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --font-android: 'android', cursive;
}  

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
   
}
header{
    min-height: 165px;
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1), var(--cor2));
    box-shadow: 0px 2px 2px 1px var(--corshadow-h);
}
header > h1{
    font-family: var(--fonte-destaque);
    color: white;
    font-weight: normal;
    text-align: center;
    padding: 20px;
    font-size: 3em;
    text-shadow: 1px 1px 1px var(--corshadow-h);
}
header > p{
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.2em;
    text-align: center;
    max-width: 550px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

nav{
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
    padding: 10px;
    box-shadow: 0px 7px 7px var(--corshadow-h);
    
}

nav > a{
    color: white;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    transition-duration: .5s;
}

nav > a:hover{
    background-color: var(--cor0);
    border-radius: 3px;
    color: var(--corshadow-m);
}
main{
    box-shadow: 0px 0px 10px var(--corshadow-m);
    height: auto;
    min-width: 320px;
    max-width:800px;
    background-color: var(--cormain);
    margin: 0px auto;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}
main > article > h2{
    font-family: var(--font-android);
    font-weight: normal;
    text-align: left;
    margin: 1px;
    padding: 20px 0px 0px 20px;
    color: var(--cor3);
}
main  p {
    font-family: var(--fonte-padrao);
    text-align: justify;
    padding: 0px 20px 0px 20px;
    margin: 20px 0px 0px 0px;
    text-indent: 30px;
    word-wrap: break-word;
    line-height: 1.5em;
}

main > article >  h3{
    font-family: var(--font-android);
    color: var(--cor3);
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    padding: 0px 0px 0px 20px;
    margin: 20px;
}
main > article > picture > img{
   display: block;
   margin: 0px auto;
   padding-top: 20px;
   width: 100%;
}

p > a{
  background-image: linear-gradient(to left, #1ac6d985, #147da68b);  
  text-decoration: none;
}
main strong{
   color: var(--cor3);
   font-weight: bold;
   
}
main > article > img{
    display: block;
    margin: 0px auto;
    padding-top: 20px;
    width: 100%;
}
main img.pequeno{
    max-width:350px;
    display: block;
    margin: auto;
}

section{
    box-shadow: 2px 1px 3px 1px var(--corshadow-m);
    height: auto;
    max-width:790px;
    background-color: var(--cor3);
    margin: 0 auto;
    padding: 0 20px;
} 
section > iframe{
    padding-top: 20px;
}
aside{
    background-color: #1ac6d950;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.405);
    margin: 0 auto;
}
aside > h4{
    padding: 10px 0px 10px 10px;
    background-color: var(--cor3);
    border-radius: 5px 5px 0px 0px;
    color: white;
    margin: 0px;
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;

}
aside > p{
    font-family: var(--fonte-padrao);
    text-align: justify;
    padding: 0px 20px 0px 20px;
    margin: 20px 0px 0px 0px;
    text-indent: 30px;
    word-wrap: break-word;
    line-height: 1.5em;
}
main > p{
    font-family: var(--fonte-padrao);
    text-align: justify;
    padding: 0px 20px 0px 20px;
    margin: 20px 0px 0px 0px;
    text-indent: 30px;
    word-wrap: break-word;
    line-height: 1.5;
}

div.video{
    background-color: var(--cor1);
    margin-bottom: 30px;
    margin: 0px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer{
    background-color: var(--cor2);
    height: 30px;
    
}
footer > p{
    font-family: var(--fonte-padrao);
    color: white;
    text-align: center;
    font-size: .8em;
    padding: 5px;
    margin: auto;
}
footer > p > a{
    color: white;
    font-weight: bold;
}

