@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #034C8C, #022859, #010626);
    background-attachment: fixed;
}
main{
    height: 100%;
    background-color: #cecece;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0106219b;
    width:600px ;
    padding: 10px;
    margin: auto;
}
h1{
    color: #F2CA50;
    text-align: center;
    text-shadow: 1px 1px 2px #987e32;
;
    
}
h2{
    color: #2481A6 ;
}

P{
    text-align: justify;
}
header{
    background-color: #cecece;
    padding: 10px;
    width: 600px;
    margin: auto;
    border-radius: 10px;
}
